mixin banner()
  section.banner
    .banner__image
      +picture('content', 'banner1', 'jpg', 1920, 961, 'баннер турбаза ревьера')
    .banner__content
      .container
        h1 Комфортабельный домик на берегу Котовского водохранилища!
        p У домика есть терраса на ней можно расположиться как летом, так и зимой.
        .banner__content-buttons
          button.banner__content-reservation Забронировать
          a.banner__content-link Узнать подробнее
