mixin silence()
  section.silence
    .silence__wrapper
      .silence__content
        h2 Уединение с природой
        p База отдыха &rsquo;Ривьера&rsquo; - идеальное место для тех, кто ищет уединение с&nbsp;природой и&nbsp;комфортное пребывание на&nbsp;берегу живописного Котовского водохранилища. Наша компания предлагает уникальные возможности для отдыха в&nbsp;уютных домиках с&nbsp;мангальной зоной, где каждая деталь продумана для вашего комфорта. Независимо от&nbsp;того, вы&nbsp;ищете место для романтического уик-энда, семейного отдыха или корпоративного мероприятия, &rsquo;Ривьера&rsquo; предлагает идеальное сочетание природы, уюта и&nbsp;качественного сервиса.
        p Погрузитесь в&nbsp;атмосферу спокойствия и&nbsp;релаксации, наслаждаясь банным чаном под открытым небом и&nbsp;живописными видами вокруг. Независимо от&nbsp;того, вы&nbsp;ищете место для романтического уик-энда, семейного отдыха или корпоративного мероприятия, &rsquo;Ривьера&rsquo; предлагает идеальное сочетание природы, уюта и&nbsp;качественного сервиса.
        button.silence__button(tabindex=0, aria-lable="Кнопка") Забронировать
      .silence__image
        +picture('content', 'silence', 'jpg', 700, 550, 'фотографии интерьера и природы')
