mixin terrace()
  section.terrace
    .container
      ul.terrace__list
        li.terrace__item
          div
            +picture('content', 'terasse', 'jpg', 631, 391, 'фотограйия террасы возле дома')
          p Терраса оборудована освещением, уличной мебелью, для уютных посиделок. Также имеются розетки для подзарядки Ваших электронных устройств.
        li.terrace__item
          div
            +picture('content', 'grill', 'jpg', 631, 391, 'фотограйия мангала возле дома')
          p Рядом обустроена мангальная зона, при необходимости предоставляем дрова, шампура и решетки.
