.catalog {
  padding-top: 90px;
  padding-bottom: 180px;
  background-color: $color-viridian;
  clip-path: polygon(0 0, 100% 120px, 100% 100%, 0 1035px);
}

.catalog h2 {
  color: $color-default-white;
  font-size: 36px;
  line-height: auto;
  margin: 0 0 60px;
  padding: 0;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__item {
  display: flex;
  justify-content: flex-end;
}

.catalog__item:hover .catalog__item-animation {
  width: 100%;
  background-color: $color-default-white;
}

.catalog__item-img img {
  height: 100%;
}

.catalog__item-decor {
  width: 108px;
}

.catalog__item-animation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 81.5%;
  height: 100%;
  background-color: $color-default-white-20;
  transition: width $trans-default, background-color $trans-default;

  & img {
    align-self: flex-end;
    padding-top: 20px;
  }

  & span {
    font-size: 48px;
    line-height: normal;
    font-weight: 700;
    color: $color-viridian;
    text-align: center;
    transform: translateY(15px);
  }
}

.catalog__item-img {
  position: relative;

  &::before {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 20px;
    line-height: normal;
    color: $color-default-white;
  }
}

[data-image="first"]::before {
  content: "6 спальных мест";
}

[data-image="second"]::before {
  content: "6 спальных мест";
}

[data-image="third"]::before {
  content: "12 спальных мест";
}

[data-image="fourth"]::before {
  content: "Баня + чан";
}
