.main-banner {
  width: 1920px;
  margin: 0 auto;
  display: grid;
  position: relative;
  padding-bottom: 60px;

  &::before {
    content: "";
    position: absolute;
  }
}

.main-banner__image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main-banner__content {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  padding-top: 165px;
  padding-right: 60px;
}

.main-banner__back {
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: flex-end;
}

.main-banner__back-right {
  transform: translateY(50px);
}

.main-banner__back-left {
  transform: translateY(100px);
}
