.terrace {
  padding-top: 149px;
  padding-bottom: 140px;
}

.terrace__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.terrace__item {
  position: relative;
}

.terrace__item::before {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: $color-zest;
  top: 0;
  left: 0;
  box-sizing: content-box;
  border-bottom: 10px solid $color-default-white;
  border-right: 10px solid $color-default-white;
  font-size: 48px;
  font-weight: 700;
  color: $color-default-white-40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terrace__item:first-child::before {
  content: "1";
}

.terrace__item:last-child::before {
  content: "2";
}


.terrace__item img {
  margin-bottom: 30px;
}

.terrace__item p {
  line-height: 20px;
  width: 83%;
  margin: 0;
}
