mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Дома"
      },
      {
        href: "#",
        text: "Баня"
      },
      {
        href: "#",
        text: "Отзывы"
      },
      {
        href: "#",
        text: "Контакты"
      },
    ]

  header(class=headerMods)
    .container
      if(headerMods === "main-header")
        .main-header__content
          .main-header__phone
            a(href="89156662990") 8-915-666-29-90
          +navigation(currentUrl)
          button.main-header__button(tabindex=0) Забронировать
      else
        .header__content
          if(headerMods === "main-header")
            +navigation(currentUrl)
          else
            +navigation(currentUrl)
          .header__logo
            +picture('content', 'logo-header', 'png', 85, 125, 'логотип ривьера' )
          .header__phone
            a(href="89156662990") 8-915-666-29-90
          button.header__button Забронировать
